<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>106132307059-pm2mlurjc6p37qb26mo1ks39qqa7qpjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106132307059-pm2mlurjc6p37qb26mo1ks39qqa7qpjo</string>
	<key>API_KEY</key>
	<string>AIzaSyDYCCeaWW8Cbz9gYguOR7MWi0SuKmOud7I</string>
	<key>GCM_SENDER_ID</key>
	<string>106132307059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saiday.daylapse</string>
	<key>PROJECT_ID</key>
	<string>daylapse-bae7f</string>
	<key>STORAGE_BUCKET</key>
	<string>daylapse-bae7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:106132307059:ios:554a1298a14c7034</string>
	<key>DATABASE_URL</key>
	<string>https://daylapse-bae7f.firebaseio.com</string>
</dict>
</plist>